.character-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

.character-card {
    margin: 0.5rem;
}

.card {
    background-color: #444444;
    margin: auto;
    border-radius: 20px;
    width: 27rem;
    height: 15rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-image {
    flex: 1;
    margin: auto;
}

.card-body {
    flex: 1;
    color: #ffffff;
    margin-left: 1rem;
    margin-right: 1rem;
}

.img {
    height: 200px;
    width: 200px;
    margin-left: 1.5rem;
    border-radius: 20px;
}

.card-main-info {
    margin-bottom: 2rem;
}

.card-location-head {
    font-size: 1rem;
    padding-bottom: 0.2rem;
}